name: After merge build

on:
  push:
    branches:
      - master
      - main
      - trunk
      - develop
      - maine
      - mane
  schedule:
    - cron: '0 3 * * 1,4'

jobs:
  build:
    env:
      github_token: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew currentVersion

      - run: ./gradlew assemble

      - name: Publish Snapshots
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}
        run: ./gradlew publishAllPublicationsToGithubRepository

      - run: ./gradlew check

      - uses: actions/cache@v5
        name: Upload base (release)
        with:
          path: diffuse-source-file-release
          key: diffuse-${{ github.sha }}-${{ hashFiles('**/aar/**.aar') }}

      - run: cp screenshot-testing-core/build/outputs/aar/screenshot-testing-core-release.aar diffuse-source-file-release
        shell: bash
