name: Build project

on:
  pull_request:
  push:
    branches:
      - master
      - main
      - trunk
      - develop
      - maine
      - mane

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # From <https://github.com/actions/runner-images/issues/2840>
      - name: Free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version

      - uses: gradle/actions/wrapper-validation@v5

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew currentVersion

      - run: ./gradlew projectCodestyle

      - run: ./gradlew check --scan

      - run: ./gradlew publishToMavenLocal

      - run: ./gradlew publishPlugins -m

      - run: git diff --exit-code

      - if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: "${{ github.workspace }}/**/build/reports/tests"

      - uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: lint-results
          path: '${{ github.workspace }}/**/build/**/reports/lint-results-*.html'

  sample-smoke-test:
    runs-on: ubuntu-latest

    steps:
      # From <https://github.com/actions/runner-images/issues/2840>
      - name: Free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - uses: gradle/actions/setup-gradle@v5

      - run: cd sample && ./gradlew check

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: test verify alone
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 33
          profile: pixel_6_pro
          target: google_apis
          arch: x86_64
          disable-spellchecker: true
          working-directory: ./sample
          script: |
            ./gradlew verifyDebugAndroidTestScreenshotTest

      - name: Upload screenshot tests result-1
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: screenshots-1
          path: "${{ github.workspace }}/**/build/reports/androidTests/connected/"

      - name: Upload failed screenshots-1
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: failedScreenshots-1
          path: "${{ github.workspace }}/**/build/reports/failedScreenshots"

      - run: rm -r sample/android/screenshots

      - name: test record + verify
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 33
          profile: pixel_6_pro
          target: google_apis
          arch: x86_64
          disable-spellchecker: true
          working-directory: ./sample
          script: |
            ./gradlew record
            ./gradlew verify

      - name: Upload screenshot tests result-2
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: screenshots-2
          path: "${{ github.workspace }}/**/build/reports/androidTests/connected/"

      - name: Upload failed screenshots-2
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: failedScreenshots-2
          path: "${{ github.workspace }}/**/build/reports/failedScreenshots"
